@import "tailwindcss";

/* ======================================================
   THEME
====================================================== */

@theme {

  /* Brand Colors */
  --color-primary: #B29552;
  --color-forest: #355E3B;
  --color-cream: #F6F1E8;
    --color-ink: #1E1E1E;
    --color-mist: #E7ECE7;
    --color-deep-forest: #23382B;

  /* Neutral */
  --color-white: #FFFFFF;
  --color-black: #1E1E1E;
  --color-light: #F8F8F8;

  /* Fonts */
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
  --font-quote: var(--font-quote);
}

/* ======================================================
   GLOBAL RESET
====================================================== */

/* *{
    margin:0;
    padding:0;
    box-sizing:border-box;
} */

html{
    scroll-behavior:smooth;
}

body{
    font-family:var(--font-body);
    background:var(--color-cream);
    color:var(--color-ink);
    color-scheme: light;
}

h1,h2,h3,h4,h5,h6{
    font-family:var(--font-heading);
}

a{
    text-decoration:none;
    color:inherit;
}

button{
    cursor:pointer;
}